@import '../../variables.scss';

.quiz-scene-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$navHeight})
}

.quiz-wrapper {
  width: 900px;
  display: flex;
  flex-flow: column wrap;
}

@media only screen and (max-width: 600px) {
  .quiz-wrapper {
    width: 300px;
    display: flex;
    flex-flow: column wrap;
  }
}