@import "../../variables.scss";

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $greyScale3 solid;
  background: white;

  -webkit-box-shadow: 7px 10px 9px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 9px -5px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 9px -5px rgba(0,0,0,0.75);
}

//CARD TYPES: 

.main {
  border-radius: 5px;
  margin: 20px 0 20px 0;
  height: 200px;
  font-size: 70px;
}

.choose {  
  border-radius: 5px;
  width: 410px;
  height: 200px;
  font-size: 40px;
  &:hover { 
    cursor: pointer;
  }
}

.incorrect {
  background-color: red;
}

.correct {
  background: green;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 300px;
    height: 80px;
    font-size: 30px;
  }

  .choose {  
    width: 300px;
    height: 60px;
    font-size: 20px;
  }
}