@import '../../variables.scss';

.choose-game {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.choose-card-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  width: 45rem;
  height: 25rem;
  border-radius: 5px;
  border: 3px inset $greyScale3;
  background-color: $greyScale2;
}

.game-menu {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 45rem;
}