@import "variables.scss";

body {
  background-color: $greyScale1;
}

.web-wrapper {
  display: flex;
  flex-direction: column;
}

.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: $greyScale2;
  border-bottom: solid 1px $greyScale3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: $navHeight;
}

.nav-item {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  background-color: $greyScale4;
  color: white;
}
