.game-results-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.game-results-game-over {
  font-family: 'Press Start 2P'
}

.game-results-score {
  font-family: 'Press Start 2P'
}

.game-results-play-again {
  font-size: 2rem;
}