.game-results-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.game-results-game-over {
  font-size: 4rem;
}

.game-results-score {
  font-size: 3rem;
}

.game-results-play-again {
  font-size: 2rem;
}